In [1]:
import pandas as pd

In [5]:
bank_users = pd.read_csv('bank_users.csv')
bank_users.head(3)

,first_name,last_name,email,bank_account,born_year,city
0,Shawn,Gotts,sgotts0@newsvine.com,58.0,NaN,Jinchuan
1,Sergeant,Linsey,slinsey1@qq.com,70.0,2007.0,Tﾄ］gﾄ（l
2,Ambrosio,Gorton,agorton2@google.es,48.0,2000.0,Zhushan Chengguanzhen

In [9]:
bank_users.last_name

0         Gotts
1        Linsey
2        Gorton
3      Steanyng
4      Cockaday
         ...
195        Oppy
196     Labbati
197     Cordery
198    Laughren
199     Peckitt
Name: last_name, Length: 200, dtype: object

In [11]:
bank_users['last_name']

0         Gotts
1        Linsey
2        Gorton
3      Steanyng
4      Cockaday
         ...
195        Oppy
196     Labbati
197     Cordery
198    Laughren
199     Peckitt
Name: last_name, Length: 200, dtype: object